<% if !node.blank? %>
  <div>
    <h2><%= node.title %></h2>
    <span class="total">共有 <%= node.posts_count %> 个讨论主题</span>
  </div>
<% elsif !user.blank? %>
  <div>
    <h2><%= user.name %></h2>
    <span class="total">的帖子</span>
  </div>
<% else %>
  <div>
    <h2>Attix</h2>
  </div>
<% end %>
