<h1>Listing posts</h1>


<div class="sidebar">
  <%= render 'sidebar_for_topic_create'  %>
  <%= render 'sidebar_for_topic_hot'  %>
  <%= render 'sidebar_for_topic_node'  %>
</div>
<%= render 'posts/posts' %>

<br />

