/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 *= require pygments
 */

body {
  background: url('bright_squares.png');
  padding-top: 40px !important;
}

#main {
  margin-top: 30px;
}

.box {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.sidebar.box {
  padding: 10px !important;
  margin-bottom: 20px;
}

/* forms */

.actions {
  margin-bottom: 0px !important;
}

form#user_new {
  padding-bottom: 0px;
  width: 640px;
  float: left;
}

form#user_edit {
  /*padding-left: 200px;*/
  float: left;
}

div#sign_up {
  float: right;
  width: 220px;
  padding: 10px;
}

.cancel_account {
  padding-left: 150px;
}

/* footer */

footer {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.clearfix {
  clear: both;
}
