/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 *= require pygments
 */

body {
  background: url('bright_squares.png');
}


#main {
  margin-top: 60px;
}

form#user_new {
  background: #fff;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 5px;
  width: 640px;
  float: left;
}

div#sign_up {
  float: right;
  width: 220px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
