// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics {
  padding: 10px 0px;
}

.topic {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.avatar {
  float: left;
}

.right_info {
  padding-left: 60px;
  margin-top: -5px;
}

.new_comment_title {
  margin-bottom: -10px;
}
