// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_profile {
  float: left;
  width: 150px;
  text-align: center;
}

.right_panel {
  float: right;
  width: 720px;
}
